<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- envia los parametros del http -->
	<li><a th:href="@{/params/variables(texto='hola')}">/variables/string?texto=Hola</a></li>

</body>
</html>