<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recibir paramentros de la ruta http GET - URL</title>
</head>
<body>



<!-- 		<div th:text="${nif}"></div>
		<div th:text="${telefono}"></div> -->
<div th:text="${resultado}"></div>

</body>
</html>