<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>

	<h1 class="color-rojo" th:text="${titulo}"></h1>
	<h2 class="color-azul" >Decoracion con estilos recursos estaticos</h2>
	<img th:src="@{/img/ae.png}"></img>	

</body>
</html>