<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<samp th:text="${usuario.nombre}"></samp>
	<samp th:text="${usuario.apellido}"></samp>
	<samp th:if="${usuario.email}" th:text= "${usuario.email}"></samp><br>
	<samp th:if="${usuario.email == null}" th:text="'El usuario no tiene correo'"></samp><br>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${addUser}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
				<td th:text="${usuario.direccion}"></td>
			</tr>
		</tbody>

	</table>



</body>
</html>