<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- envia los parametros del http -->
	<li><a th:href="@{/params/string(texto='hola')}">/params/string?texto=Hola</a></li>
	<li><a th:href="@{/params/string(texto='que tal carlos')}">/params/string?texto=Hola</a></li>
	<li><a th:href="@{/params/mix-params(saludo='que tal carlos', numero=7)}">/params/mix-params?saludo=Hola&numero=7</a></li>

</body>
</html>